#main_sobre{
    width: 100%;
    background-color: #365186;
    padding-block: 50px;
    background-image: url('../img/img_sobre_nos_main.png');
    background-position: cover;
    background-repeat: no-repeat;
    padding-block: 100px;
}

.container_main_sobre{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    gap: 50px;
}

.container_main_btn_sobre{
    /* border: 2px solid white; */
    width: 400px;
    display: flex;
    flex-direction: column;
     
}

.container_main_texto_sobre{
    /* border: 2px solid white; */
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.h3_main_sobre{
    font-size: 2rem;
}
.h2_main_sobre{
    font-size: 3rem;
    text-decoration: underline;

}

.h1_container_main_sobre{
    color: white;
    font-size: 3rem;
    width: 100%;   
}

.container_main_btn_sobre{
    display: flex;
    flex-direction: column;
    align-items: start;   
}

.h2_main{
    color: white;
    font-size: 1.5;
    font-weight: 500;
    width: 50%;
}

.btn_main_sobre{
    background: #c8600d;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 32px;
    transition: 0.5s;
}

.btn_main_sobre:hover{
    background: rgb(234, 197, 46); 
}


#sobre{
    width: 100%;
    display: flex;
    background-color: #3a5a98;
    padding-block: 50px;
    color: white;
}


#sobre{
    width: 100%;
    display: flex;
}

.container_sobre{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.container1_sobre{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 4px dotted white;
}

.h2_sobre{
    font-size: 2rem;
}

.p_sobre{
    text-align: justify;
    font-size:1.2rem;
}







#quem_faz_acontecer{
    width: 100%;
    display: flex;   
}

.container_quem_faz_acontecer{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    padding-block: 50px;
    margin: 0 auto;
    height: 500px;
    border: 2px solid black;
}

.h2_quem_faz_acontecer{
    font-size: 3rem;
    color: #660b32;
    width: 100%;
    text-align: center;
   
}

#parceria{
    width: 100%;
    display: flex;
    padding-block: 50px;
}

.container_parceria{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    gap: 50px;
}

.container1_parceria{
    /* border: 2px solid black; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.span_parceria{
    color: #217d48;
    align-self: start;
}

.h2_parceria{
    font-size: 2.5rem;
    line-height: 50px;
    text-align: center;
}

.container2_parceria{
    /* border: 2px solid black; */
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.p_parceria{
    font-size: 20px;
    text-align: justify;
}

#frase_de_efeito_sobre_nos{
    width: 100%;
    background: #eac52e;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    padding-inline: 25%;
}

.h2_frase_de_efeito_sobre_nos{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #c8600d;
}

.btn_parceria{
    border: 1px solid #c8600d;
    background: #c8600d;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 32px;
    transition: 0.5s;
}

.btn_parceria:hover{
    background: rgb(234, 197, 46); 
    color: #c8600d;
}

.span_frase_de_efeito_sobre_nos{
    color: white;
}



   @media (max-width: 944px){
    #main_sobre{
        padding-block: 50px;
    }
    
    .container_main_btn_sobre{   
        justify-content: center;
        align-items: center; 
    }

    .h1_container_main_sobre{
       
        text-align: center;   
    }
    
    .container_main_texto_sobre{  
        justify-content: center;
        align-items: center;
    }

    .container_logo_sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .container_sobre{
        gap: 50px;
    }

   }

   @media (max-width: 400px){
    .img_container_main_texto_sobre{
        width: 300px;
    }

    .h3_main_sobre{
        font-size: 1.5rem;
    }
    .h2_main_sobre{
        font-size: 2rem;
        text-decoration: underline;
    }

    .h2_frase_de_efeito_sobre_nos{
        font-size: 2.2rem;
    }
   }
   