@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Poppins", sans-serif;
    background-color: #f4f8fb;
}

.a_menu{
    color: white;
    text-decoration: none;
    display: block;
    padding: .5rem;
}

.a_menu:hover{
    color: yellow;
    text-decoration: underline;
    transition: 1s ease;
}

.img_logo{
    width: 200px;
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212338;
    padding-inline: 5%;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

.ul_dropdown, .ul_dropdown2{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #212338;
    padding-block: 10px;
    transition: .6s;
    z-index: 900;
}

.li_dropdown, .li_dropdown2{
    margin: 0;
    padding: 0;
    padding: 10px 20px;
    background: #212338;
}

.a_dropdown, .a_dropdown2{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.a_dropdown:hover, .a_dropdown2:hover{
    color: yellow;
    text-decoration: underline;
    transition: 1s ease;
}


#btn_mobile{
    display: none;
}

.hidden{
    display: none;
}

.block{
    display: block;
}




#main{
    width: 100%;
    height: 600px;
    background-image: url('../img/img_sugestao_de_entrada_6.jpg');
    background-size: cover;
    background-position: center;
}

.container_main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding-top: 50px;
}

h1{
    color: white;
    font-size: 3rem;
    width: 50%;
    margin-bottom: 50px;
}

.container_main_btn{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.h2_main{
    color: white;
    font-size: 1.5;
    font-weight: 500;
    width: 50%;
}

.btn_main{
    background: #c8600d;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 32px;
}

.btn_main:hover{
    background: rgb(234, 197, 46);
    transition: 1s ease;
}





#video{
    width: 100%;
    display: flex;
    background-color: #212338;
    padding-block: 50px;
}

.container_video{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#numeros{
    width: 100%;
    display: flex;
    padding-block: 50px;
    flex-direction: column;
}

.container_numeros{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: space-around;
}

.item1_container_numeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.h2_numeros{
    font-size: 3rem;
    font-weight: bold;
    color: #217d48;
}

.p_numeros{
    font-size: 1.2rem;
}

.ultimo_p_numeros{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


#integralidade{
    width: 100%;
    display: flex;
    padding-block: 50px;
    background: #660b32;
    color: white;
}

.container_integralidade{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
}

.containertexto_integralidade{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.h2_integralidade{
    text-align: center;
    font-size: 1.2rem;
}

.p_integralidade{
    text-align: justify;
}

.containerimagem_integralidade{
    width: 480px;
}

.img_integralidade{
    width: 100%;
}







/**************ANIMAçÃO****************/
[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


iframe{
    width: 60%;
    height:350px;
}


#objetivos{
    width: 100%;
    display: flex;
    padding-block: 50px;
    
}

.container_objetivos{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1_objetivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.p_container1_objetivos{
    text-align: center;
    font-size: 1.2rem;
}

.container2_objetivos{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.item_container2_objetivos{
    width: 240px;
}

.p_item_container2_objetivos{
    font-size: 0.9rem;
    text-align: start;
}

#atuacao{
    width: 100%;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eac52e;
}

.h2_atuacao{
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.container_atuacao{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.ul_atuacao{
    list-style: none;
}


#parceiros{
    width: 100%;
    display: flex;
    padding-block: 50px;
    height: 300px;
    justify-content: center;
}

.h2_parceiros{
    font-size: 2.5rem;
}





































@media (max-width:801px) {
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right:0;
        background-color: #212338;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        
    }

    .a_menu{
        padding:  1rem 0;
        margin: 0 1rem;
        /* border-bottom: 2px solid gray; */
    }

    #btn_mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger{
        width: 20px;
        border-top: 2px solid;
        display: block;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

   #nav.active #hamburger{
    border-top-color: transparent ;
   }

   #nav.active #hamburger::before{
        transform: rotate(135deg);
   }

   #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
   }

   .btn_hamburger{
    width: 30px;
   }

   .li_dropdown, .li_dropdown2{
    padding:  0.5rem;
    margin: 0 1rem;
    list-style: none;   
}

    

    iframe{
        width: 80%;
    } 
}

@media (max-width:600px) {

    #main{  
        height: 650px; 
    }
    h1{
        font-size: 2rem;
    }

    .h2_numeros{
    font-size: 1.5rem;   
}

.p_numeros{
    font-size: 0.8rem;
}

.img_objetivos{
    width: 330px;
}

.social{
    margin-right: 60px;
}

.card_container2_objetivos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_item_container2_objetivos{
    text-align: center;
}

}





